html {
	height: 100%
}   

body{
	height: 100%;
	margin: 0;
	padding: 0;
}

#canvas{
	height: 100%
}

#inbound {
	float: left;
	width: 60px;
}

#outbound{
	float: right;
	width: 60px;	
}
h3{
	margin-top: 0px;
	margin-bottom: 0px;
}