@media only screen and (min-width:992px){

	body{
		background-image:url('omfgdogs.gif');
		background-repeat: repeat;
	}
	
	h3{
		visibility: hidden;
	}
	

}


h2{
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 50px;
}
h3 {
	font-size: 60px;
}

a{
	color:red;
}

